<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/Template/images/logos/manlogo.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>MultiShop Admin</p>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menu</li>
            <li> <a href="/admin/Category/Index"> <i class="fa fa-th"></i> <span>Categories</span></a> </li>
            <li> <a href="/admin/Product/ProductListWithCategory"> <i class="fa fa-car"></i> <span>Products</span></a> </li>
            <li> <a href="/admin/FeatureSlider/Index"> <i class="fa fa-picture-o"></i> <span>Features</span></a> </li>
            <li> <a href="/admin/SpecialOffer/Index"> <i class="fa fa-circle"></i> <span>Special Offer</span></a> </li>
            <li> <a href="/admin/Feature/Index"> <i class="fa fa-fire"></i> <span>Feature</span></a> </li>
            <li> <a href="/admin/OfferDiscount/Index"> <i class="fa fa-coffee"></i> <span>Offer Discount</span></a> </li>
            <li> <a href="/admin/Brand/Index"> <i class="fa fa-anchor"></i> <span>Brand</span></a> </li>
            <li> <a href="/admin/About/Index"> <i class="fa fa-server"></i> <span>About</span></a> </li>
            <li> <a href="/admin/Comment/Index"> <i class="fa fa-comment"></i> <span>Comment</span></a> </li>
            <li> <a href="/admin/User/UserList"> <i class="fa fa-users"></i> <span>User List</span></a> </li>
            <li> <a href="/admin/Comment/Index"> <i class="fa fa-shopping-basket"></i> <span>Order List</span></a> </li>
            <li> <a href="/admin/Comment/Index"> <i class="fa fa-money"></i> <span>Cash Information</span></a> </li>
            <li> <a href="/admin/Statistic/Index"> <i class="fa fa-pie-chart"></i> <span>Statistics</span></a> </li>
            <li> <a href="/admin/Cargo/CargoCompanyList"> <i class="fa fa-car"></i> <span>Cargo</span></a> </li>
            <li> <a href="/admin/Comment/Index"> <i class="fa fa-balance-scale"></i> <span>Discounts</span></a> </li>
            <li> <a href="/admin/Comment/Index"> <i class="fa fa-picture-o"></i> <span>Images</span></a> </li>
            <li> <a href="/admin/Comment/Index"> <i class="fa fa-paper-plane"></i> <span>Messages</span></a> </li>
            <li> <a href="/Default/Index"> <i class="fa fa-cog"></i> <span>Settings</span></a> </li>
            <li> <a href="/Default/Index"> <i class="fa fa-desktop"></i> <span>Site</span></a> </li>
            <li> <a href="/admin/Comment/Index"> <i class="fa fa-times"></i> <span>Log Out</span></a> </li>

        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
